.category {
  padding: 32px 96px;
}

.prescription-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.category-head {
  display: flex;
  gap: 170px;
  font-weight: 600;
  margin-top: 24px;
}

.category-body {
  margin-top: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.category-body-row {
  display: flex;
  gap: 100px;
  margin-top: 8px;
}